*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

/* Utility Classes */
a{
    text-decoration:none;
    font-size:1.3rem;
    color:#ffffff;
}

p{
    font-size:1.5rem;
    color:#7D7F81;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:0 2rem;
    overflow:hidden;
}

.l-heading{
    font-size:3.5rem;
    margin-bottom:2.5rem;
}

.m-heading{
    font-size:2.8rem;
    margin-bottom:1rem;
}

.s-heading{
    font-size:1.5rem;
    margin-bottom:1.3rem;
}

.py-1{padding:4.5rem 0;}
.py-2{padding:2rem 0;}
.py-3{padding:1.5rem 0;}

.abtn{
    padding:1.2rem 3rem;
    background:#3CADD4;
    border-radius:50px;
    margin-top:3rem;
}

.abtn:hover{
    background:#5FCEC0;
}

/* Navbar & Showcase */
header{
    background:black url('./pictures/showcase-img.jpg')no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

header .header-content{ 
    /*overlay*/
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
}

#navbar{
    display:flex;
    padding:1.5rem 3rem;
    text-align:center;
    color:#ffffff;
    justify-content: space-between;
}

#navbar h2:hover{
    text-decoration:underline;
}

#navbar div{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#navbar div ul{
    display:flex;
    list-style:none;
    padding:0.5rem;
    margin-right:1rem;
}

#navbar div ul li a{
    padding:0.5rem 1rem;
    color:#E3E3E3;
}

#navbar div ul li a:hover{
    color:#ffffff;
}

#navbar div .btn{
    background-color: #ffffff;
    color:#7D7F81;
    text-align: center;
    font-size:1.2rem;
    padding:0.2rem 1rem;
    height: auto;
    border-radius: 3rem;
}


#showcase-content{
    display:flex;
    flex-direction: column;
    align-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding: 7rem 0;
}

#showcase-content p{
    color: #ffffff;
}

/* Section-content */
#icons{
    display: flex;
    flex-direction:column;
    background:#F5F5F5;
    border-bottom:2px solid #DCDCDC;   
    padding-bottom:0px;
}

#icons .icon-top{
    text-align:center;
}

#icons .icon-top h2{
    margin-bottom:0.5rem;
}

#icons .icon-content{
    display:flex;
    margin:5rem 3rem;
}

#icons .icon-content .icon-box{
    border:2px solid #F5F5F5;
    border-radius:5px;
    background:#ffffff;
    text-align:center;
    padding:2.5rem 1.5rem;
    margin:0 1.5rem;
}

#icons .icon-content .icon-box i{
    padding:2rem;
    color:#ffffff;
    border-radius: 50%;
    margin-bottom:1rem;
}

#icons .icon-content .icon-box .i1{
    background:#3CADD4;
}

#icons .icon-content .icon-box .i2{
    background:#ADD43C;
}

#icons .icon-content .icon-box .i3{
    background:#D43C61;
}

#icons .icon-content .icon-box h3{
    color:#878787;
}

#icons .icon-content .icon-box p{
    color:#585858;
    font-size:1rem;
    text-align:center;
}

/* Users */
#users{
    display:flex;
    flex-direction: column;
}

#users .user-top{
    text-align: center;
    margin-bottom:4rem;
}

#users .user-content .container{
    padding:1rem 0;
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #E3E3E3;
}

#users .main-div{
    display:flex;
    justify-content: space-evenly;
    padding:1.5rem 0;
}

#users .main-div .ib1,
#users .main-div .ib2{
    display: flex;
    justify-content: space-evenly;
}

#users .main-div .user-box{
    display:flex;
    padding:1rem;
}

#users .main-div .user-box i{
    color:#C1C1C1;
    background:#E3E3E3;
    padding:1rem;
    border-radius: 50%;
    align-self:center;
    margin:0 0.5rem;
}

#users .user-box .user-inf h3,
#users .user-box .user-inf p{
    font-size:1rem;
}

#users .user-btm{
    margin-top:3rem;
    text-align: center;
}

#users .user-btm .container{
    padding:1rem 3rem;
    text-align: center;
}

#users .user-btm p{
    font-size: 1rem;
    margin-bottom:4rem;
}

#users .user-btm a{
    margin-bottom: 4rem;
}

/* Form Section */
.form{
    background:#3CADD4;
    text-align: center;
    color:#ffffff;
}

.form h2{
    margin-bottom:0.5rem;
}

.form p{
    color: #ffffff;
}

.form form{
    margin-top:2.8rem;
    display:flex;
    flex-direction: column;
}

.form form input{
    border:none;
    padding:0.8rem;
    border-radius:5px;
    width:25%;
    margin:1rem;
}

.form form textarea{
    border:none;
    border-radius:5px;
    padding:1rem;
    margin-top:1rem;
    width:54%;
    height:13rem;
}

.form form button{
    color:#ffffff;
    background:#383B43;
    font-size: 1.3rem;
    padding:1rem 2rem;
    border:none;
    border-radius:50px;
    margin-top:1.5rem;
}

.form form button:hover{
    background:#474747;
}

/* Footer */
#lists{
    background:#383B43;
}

#lists .foot-content{
    display: flex;
    justify-content: center;
    
}

#lists .foot-content .d1,
#lists .foot-content .d2{
    display: flex;
}

#lists .foot-box
{
    margin:0 1rem;
}

#lists .foot-box h3{
    color:#ffffff;
    font-size:1.3rem;
}

#lists .foot-box ul{
    list-style:none;
}

#lists .foot-box ul li{
    margin-bottom:0.6rem;
}

#lists .foot-box ul li a{
    color:#7D7F81;
    font-size:1.1rem;
}

#lists .foot-box ul li a:hover{
    text-decoration: underline;
}

#lists .foot-btm{
    border-top:1px solid #7D7F81;
    text-align: center;
    margin:3rem 4rem;
    padding-top:4rem;
}

/* Media Query */
@media screen and (max-width: 1200px){
    #lists{
        padding:2.3rem;
    }

    #lists .foot-content{
        flex-direction:column;
    }

    #lists .foot-content .d1{
        margin-bottom: 2rem;
    }

    #lists .foot-content .d1,
    #lists .foot-content .d2{
        justify-content: space-evenly;
    }

    #lists .foot-box{
        margin-top:1.5rem;
    }
}

@media screen and (max-width: 980px){
    #navbar{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #showcase-content{
        padding-top:5.5rem;
    } 

    .l-heading{
        margin-bottom:1rem;
    }

    .abtn{
        margin-top:2rem;
    }
    
    #users .main-div{
        flex-direction:column;
    }

    #users .main-div .ib1{
        margin-bottom:1.5rem;
    }  
}

@media screen and (max-width: 830px){
    #showcase-content{
        padding-top:5rem;
    }

    .l-heading{
        font-size:3rem;
    } 
    
    p{
        font-size:1.4rem;
    }

    #icons,
    #users{
       padding-top:2rem;
    }

    #icons .icon-top h2,
    #users .user-top h2,
    .form h2{
        font-size:2.5rem;
    }
    
    #icons .icon-top p,
    #users .user-top p,
    .form p{
        font-size:1.3rem;
    }

    #icons .icon-content{
        margin-top:3rem;
        margin-bottom:2rem;
        flex-direction: column;
    }

    #icons .icon-content .icon-box{
        margin-bottom:2rem;
    }

    .form .container{
        padding-top:2rem ;
    }

    .form form{
        margin-top:2rem;
    }
}

@media screen and (max-width: 650px){
    .l-heading{
        font-size:2.5rem;
    }

    p{
        font-size:1.3rem;
    }

    #icons .icon-top h2,
    #users .user-top h2,
    .form h2{
        font-size:2rem;
    }
    
    #icons .icon-top p,
    #users .user-top p,
    .form p{
        font-size:1.2rem;
    }

    .form form .f-top{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
    }

    .form form input,
    .form form textarea{
        width:80%;
    }   

    #lists .foot-content .d1,
    #lists .foot-content .d2{
        flex-direction: column;
        align-content: center;
        align-items:center;
    }
}

